<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <!-- Indicates that the server.js file is a node.js site -->
      <remove name="iisnode" />
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Do not interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- All other queries are forwarded to the node.js site entry point -->
        <rule name="DynamicContent">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- 'bin' directory has no special meaning in node.js and would allow the server to return 404 on those files -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
          <remove segment="node_modules" />
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />

    <iisnode 
      watchedFiles="web.config;*.js" 
      node_env="production" 
      devErrorsEnabled="true" 
      loggingEnabled="true" 
      logDirectory="iisnode"
      nodeProcessCommandLine="C:\nvm4w\nodejs\node.exe" 
      asyncCompletionThreadCount="0"
    >
      <environmentVariables>
        <add name="NEXT_PUBLIC_API_URL" value="https://api.campus24by7.com" />
        <add name="DATABASE_URL" value="sqlserver://winsome.grabweb.in:5691;database=Aivora_ERP;user=aivora_erp_user;password=A_2Qdce_Xc5u1mdd;encrypt=true;trustServerCertificate=true" />
      </environmentVariables>
    </iisnode>
  </system.webServer>
</configuration>

