<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="iis_test.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="iis_test">
          <match url="/*" />
          <action type="Rewrite" url="iis_test.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      nodeProcessCommandLine="C:\nvm4w\nodejs\node.exe" 
      loggingEnabled="true" 
      devErrorsEnabled="true"
    />
  </system.webServer>
</configuration>
