<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="iisnode" />
      <add name="iisnode" path="iisnode_wrapper.cjs" verb="*" modules="iisnode" />
    </handlers>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment=".next" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <rewrite>
      <rules>
        <rule name="StaticFiles" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <rule name="DynamicContent">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="iisnode_wrapper.cjs" />
        </rule>
      </rules>
    </rewrite>

    <httpErrors existingResponse="PassThrough" />

    <iisnode 
      node_env="production"
      devErrorsEnabled="true"
      loggingEnabled="true"
      logDirectory="iisnode"
      watchedFiles="web.config;*.js;*.cjs"
    >
      <environmentVariables>
        <add name="NEXT_PUBLIC_API_URL" value="https://api.campus24by7.com" />
        <add name="DATABASE_URL" value="sqlserver://winsome.grabweb.in:5691;database=Aivora_ERP;user=aivora_erp_user;password=A_2Qdce_Xc5u1mdd;encrypt=true;trustServerCertificate=true" />
      </environmentVariables>
    </iisnode>
  </system.webServer>
</configuration>
